body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  overflow-x: hidden;
}

@media screen and (max-width: 400px) {
  body {
padding-top: 1rem;
overflow-x: hidden;
  }
}

html{
overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.youtube{
  overflow: hidden;
}

.youtube iframe{
  width:100%;
height: 100%;
}

textarea{
  width: 80%;
  height:6rem;
  margin:auto;
  resize: none;
  display:block;
}

.adminButton {
  background-color: aqua;
  border-radius: 1rem;
  font-weight: 600;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
}

.focusedInput:focus{
  box-shadow: 1px 0px 9px 8px rgba(255,255,255,0.75);
  -webkit-box-shadow: 1px 0px 9px 8px rgba(255,255,255,0.75);
  -moz-box-shadow: 1px 0px 9px 8px rgba(255,255,255,0.75);
}